<div class="panel panel-info">
    <div class="panel-heading">Links</div>
    <div class="panel-body">
        <ul data-bind="foreach: links">
            <li><a data-bind="attr: { href:url }, text:name" ></a></li>
        </ul>
    </div>
</div>