
<div class="main container" ng-controller="homePageCtrl">
    <section id="blogs" ng-repeat="blog in blogs">
        <div class="ui segment">
            <a class="ui teal header" href="#/blog/{{blog.date}}/{{blog.title}}"><h4 class="ui header">{{blog.title}}</h4></a>
            <div class="ui small labels">
                <a class="ui label" ng-repeat="tag in blog.tags"><i class="tag icon"></i>{{tag}}</a>
            </div>
            <p class="summary">{{blog.summary}}</p>
            <h5 class="inline gray"><i class="calendar icon"></i>{{blog.date}}</h5>
            <h6 class="inline gray"><i class="user icon"></i>0 <i class="comment icon"></i>0</h6>
        </div>
    </section>
</div>