<h2>Links</h2>
<hr />
<ul class="links">
    <li class="link"><a href="http://www.bakachu.cn/"><h4>CHU的自留地</h4></a></li>
    <li class="link"><a href="http://invwindy.mist.so/"><h4>Windy's Site</h4></a></li>
    <li class="link"><a href="http://guanqian.me/"><h4>关签</h4></a></li>
</ul>
