
<div class="main container" ng-controller="loginCtrl">
    <div class="ui two column grid main container">
        <section class="column">
            <form class="ui warning fluid form segment">
                @Html.AntiForgeryToken()
                <h3 class="ui header">登录</h3>
                <div class="ui red message" ng-show="errors.length != 0">
                    <div class="header">好像发生了一些错误。</div>
                    <ul class="list">
                        <li ng-repeat="error in errors">{{error}}</li>
                    </ul>
                </div>
                <div class="field" ng-class="{true: 'error'}[userName.hasError()]">
                    <label for="UserName" class="control-label">用户名</label>
                    <div class="ui left labeled icon input">
                        <input type="text" ng-model="userName.value" placeholder="用户名" />
                        <span class="ui red pointing above ui label"
                              ng-show="userName.hasError()">{{userName.errorMessage}}</span>
                        <i class="user icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="field" ng-class="{true: 'error'}[password.hasError()]">
                    <label for="Password" class="control-label">密码</label>
                    <div class="ui left labeled icon input">
                        <input type="password" ng-model="password.value" placeholder="密码" />
                        <span class="ui red pointing above ui label"
                              ng-show="password.hasError()">{{password.errorMessage}}</span>
                        <i class="lock icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="RememberMe" name="RememberMe" ng-model="rememberMe"/>
                        <label for="RememberMe"></label>
                    </div>
                    <label>记住我？</label>
                </div>
                <button type="submit" class="ui blue submit button" ng-click="doLogin()">
                    登录
                </button>
                <div class="ui blue message">
                    还没有Moe@Home账户？先<a href="#/register">注册</a>一个吧
                </div>
            </form>
        </section>
        <section class="column">
            <div class="ui fluid segment">
                <h3 class="ui header">使用其他服务登录</h3>
                <div data-bind="visible: !loadingExternalLogin()">
                    <form data-bind="visible: hasExternalLogin">
                        <fieldset class="form-horizontal">
                            <legend>Use another service to log in.</legend>
                            <p data-bind="foreach: externalLoginProviders">
                                <button type="submit" class="btn" data-bind="text: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>