
<section id="comments" class="ui piled blue segment">
    <h4 class="ui dividing header">
        <i class="icon inverted circular blue comment"></i> 评论
    </h4>
    <div class="ui comments">
        <div class="comment" ng-repeat="comment in comments">
            <a class="avatar">
                <img src="~/images/default-avatar.png">
            </a>
            <div class="content">
                <div class="metadata">
                    <span class="floor">#{{comment.floor}}</span>
                </div>
                <a class="author">{{parseAuthor(comment.authorName)}}</a>
                <div class="metadata">
                    <span class="date">{{parseDateTime(comment.dateTime)}}</span>
                </div>
                <div class="text">{{comment.content}}</div>
                @*<div class="actions">
                        <a class="reply">回复</a>
                        <a class="delete">删除</a>
                    </div>*@
            </div>
        </div>
    </div>
    <form class="ui reply form segment">
        <div class="field" ng-class="{true: 'error'}[commentContent.hasError()]">
            <textarea ng-model="commentContent.value" placeholder="我也来评论一下！"></textarea>
            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
            <span class="ui red pointing above ui label"
                  ng-show="commentContent.hasError()">{{commentContent.errorMessage}}</span>
        </div>
        <div class="ui blue labeled submit icon button" ng-click="postComment()">
            <i class="icon edit"></i> 发表评论
        </div>
    </form>
</section>
