
<div class="main container" ng-controller="viewBlogCtrl" ng-init="onLoaded()">
    <section id="post" style="display:none;">
        <div class="ui segment">
            <h3 class="ui teal dividing header">{{blog.title}}</h3>
            <div class="ui small labels">
                <h5 class="inline gray"><i class="calendar icon"></i>{{parseDate(blog.dateTime)}}</h5>
                <h6 class="inline gray">
                    <i class="comment icon"></i>{{blog.commentsCount}}
                </h6>
                <a class="ui label" ng-repeat="tag in blog.tags"><i class="tag icon"></i>{{tag}}</a>
            </div>
            <p class="blog-content"></p>
        </div>
    </section>
    <section id="post-notfound" style="display:none">
        <h4 class="ui red message">
            您要找的文章不存在。
        </h4>
    </section>
    @Html.Partial("_ViewBlogComments")
</div>