@{
    ViewBag.Title = "关于";
}
<h2>About Me.</h2>
<ul>
    <li>Nick Name: SunnyCase</li>
    <li>Github: <a href="https://github.com/sunnycase">@@SunnyCase</a></li>
</ul>
<h3>Contacts</h3>
<ul>
    <li>Email: <a href="mailto:sunnycase@live.cn">sunnycase@live.cn</a></li>
</ul>
<h3>Skills</h3>
<ul>
    <li>C#, ASP.net, WPF</li>
    <li>C++</li>
</ul>