@{
    ViewBag.Title = "主页";
}
<div class="row">
    <div class="col-md-8">
        <div class="home blogs list-group">
            @for (int i = 0; i < 1; i++)
            {
                <div class="blog list-group-item">
                    <div class="panel-body">
                        <h2 class="header">自己写Blog真麻烦啊</h2>
                        <h4 class="datetime">@DateTime.Now.ToString("d")</h4>
                        <p>@Html.Raw("<p>目前前端用angularjs + semantic ui，后端用asp.net webapi。<br/>下一步该处理文章排版问题了。。<br/>对xss也没找到好用的库，anti-xss没啥可定制性。难道又要自己造轮子了么 _(:з」&ang;)_</p>")</p>
                        <hr/>
                        <div class="bottom row container-fluid">
                            <div class="tags col-xs-5">
                                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                                <span>BLOG, 日常</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_Links")
    </div>
</div>