<template>
    <div>
        <div class="row">
            <div class="container">
                <h3>作品</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="./images/tomato-music-logo.png">
                    <div class="caption">
                        <h3>Tomato Music</h3>
                        <p>
                            <span class="label label-primary">App</span>
                            <span class="label label-success">音乐</span>
                        </p>
                        <p>番茄音乐是一款专门为 Windows 商店开发的本地音乐播放和管理应用。她支持播放 mp3、wav、wma、flac、ape、ogg、tak 等多种音频格式。</p>
                        <p>
                            <a href="https://www.microsoft.com/store/apps/9wzdncrdm7jw" class="btn btn-primary" role="button" target="_blank">Microsoft Store</a>
                            <a href="https://github.com/sunnycase/TomatoMusic" class="btn btn-default" role="button" target="_blank">Github</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="./images/minecase-thumbnail.png">
                    <div class="caption">
                        <h3>MineCase</h3>
                        <p>
                            <span class="label label-primary">游戏</span>
                        </p>
                        <p>MineCase 是一个分布式的 minecraft 服务端应用。MineCase 采用 .net core 编写，使用 Orleans 框架。<br /><br /></p>
                        <p>
                            <a href="https://github.com/dotnetGame/MineCase" class="btn btn-primary" role="button" target="_blank">Github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>