<template>
    <div>
        <h3>自我介绍</h3>
        <p>一只爱好 ACG 的码农，微软脑残粉，熟悉 WPF，理想是成为独立游戏开发者。</p>
        <h3>从哪里找到我</h3>
        <ul>
            <li><strong>GitHub </strong> <a href="https://github.com/sunnycase/" target="_blank">https://github.com/sunnycase/</a></li>
        </ul>
        <h3>我的朋友们</h3>
        <ul>
            <li v-for="friend in friends">
                <strong>{{ friend.name }}</strong> <a :href="friend.url" target="_blank">{{ friend.url }}</a>
            </li>
        </ul>
    </div>
</template>

<script src="./aboutme.ts"></script>